<!DOCTYPE html>
<html>
<head>
	<title>Town of salem ranked tracking tool.</title>
	<link rel="stylesheet" href="salemStyle.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>
<body>
<div class="container" id="app">
	<div class='row'>
		<div class='col-md-4'>
			<h2>Suspects</h2>
			<h5>Select the role:</h5>
			<select id='roleSelect' class="form-control" v-on:change="sortBy" v-model="selected">
			  <option v-for="option in options" v-bind:value="option.value">
			    {{ option.text }}
			  </option>
			</select>

			<a v-on:click='uncheck' href="#">Undo</a>

			<table class="table table-hover table-striped">
			    <thead>
		    	<tr>
		        <th>Role</th>
		        <th>Suspected Player</th>

		   		 </tr>
		    	</thead>
				<tr id='Jailor'>
					<td><p>Jailor</p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
				<tr id='TownInvestigative'>
					<td><p><span class='townSpan'>Town</span> Investigative</p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
				<tr id='TownInvestigative2'>
					<td><p><span class='townSpan'>Town</span> Investigative</p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
				<tr id='TownSupport'>
					<td><p><span class='townSpan'>Town</span> Support</p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
				<tr id='TownSupport2'>
					<td><p><span class='townSpan'>Town</span> Support</p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
				<tr id='TownProtective'>
					<td><p><span class='townSpan'>Town</span> Protective</p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
				<tr id='TownKilling'>
					<td><p><span class='townSpan'>Town</span> Killing</p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
				<tr id='RandomTown'>
					<td><p>Random <span class='townSpan'>Town</span></p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
				<tr id='Godfather'>
					<td><p>Godfather</p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
				<tr id='Mafioso'>
					<td><p>Mafioso</p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
				<tr id='RandomMafia'>
					<td><p>Random Mafia</p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
				<tr id='NeutralKilling'>
					<td><p><span class='neutralSpan'>Neutral</span> Killing</p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
				<tr id='NeutralEvil'>
					<td><p><span class='neutralSpan'>Neutral</span> Evil</p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
				<tr id='NeutralBenign'>
					<td><p><span class='neutralSpan'>Neutral</span> Benign</p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
				<tr id='Any'>
					<td><p>Any</p></td>
					<td>
						<input class='form-control' type='text'>
					</td>
				</tr>
			</table>
		</div>
		<div class='col-md-4'>
			<textarea class='myTextarea' placeholder="This is a sticky note you can type and edit."></textarea>
			<hr/>
			<h5>Suspects list</h5>
			<div class='col-md-6'>
			<textarea id="suspectsList" class='myTextarea' placeholder="This is a sticky note you can type and edit."></textarea>
			</div>
			<div class='col-md-6'>
				<textarea id="suspectsList2" class='myTextarea' placeholder="This is a sticky note you can type and edit."></textarea>
			</div>
			<hr/>
			<textarea class='myTextarea' placeholder="This is a sticky note you can type and edit."></textarea>
		</div>
		<div class='col-md-4'>

			<table class="table">
			   <tbody>
			      <tr>
			         <th scope="col">
			            <p>Role name</p>
			         </th>
			         <th scope="col">
			            <p>Possible roles</p>
			         </th>
			      </tr>
			      <tr>
			         <td><a href="http://town-of-salem.wikia.com/wiki/Jailor" title="Jailor"><span style="color:#45BF00">Jailor</span></a></td>
			         <td><a href="http://town-of-salem.wikia.com/wiki/Unique" title="Unique" class="mw-redirect">Unique</a> Town role.</td>
			      </tr>
			      <tr>
			         <td>2 <a href="http://town-of-salem.wikia.com/wiki/Town_Investigative" title="Town Investigative"><span style="color:#45BF00">Town</span> <span style="color:#49A9D0">Investigative</span></a></td>
			         <td>May be <a href="http://town-of-salem.wikia.com/wiki/Investigator" title="Investigator">Investigator</a>, <a href="http://town-of-salem.wikia.com/wiki/Lookout" title="Lookout">Lookout</a>, <a href="http://town-of-salem.wikia.com/wiki/Sheriff" title="Sheriff">Sheriff</a> or <a href="http://town-of-salem.wikia.com/wiki/Spy" title="Spy">Spy</a>.</td>
			      </tr>
			      <tr>
			         <td>2 <a href="http://town-of-salem.wikia.com/wiki/Town_Support" title="Town Support"><span style="color:#45BF00">Town</span> <span style="color:#49A9D0">Support</span></a></td>
			         <td>May be <a href="http://town-of-salem.wikia.com/wiki/Escort" title="Escort">Escort</a>, <a href="http://town-of-salem.wikia.com/wiki/Mayor" title="Mayor">Mayor</a>, <a href="http://town-of-salem.wikia.com/wiki/Medium" title="Medium">Medium</a>, <a href="http://town-of-salem.wikia.com/wiki/Retributionist" title="Retributionist">Retributionist</a> or <a href="http://town-of-salem.wikia.com/wiki/Transporter" title="Transporter">Transporter</a>.</td>
			      </tr>
			      <tr>
			         <td><a href="http://town-of-salem.wikia.com/wiki/Town_Protective" title="Town Protective"><span style="color:#45BF00">Town</span> <span style="color:#49A9D0">Protective</span></a></td>
			         <td>May be <a href="http://town-of-salem.wikia.com/wiki/Bodyguard" title="Bodyguard">Bodyguard</a> or <a href="http://town-of-salem.wikia.com/wiki/Doctor" title="Doctor">Doctor</a>.</td>
			      </tr>
			      <tr>
			         <td><a href="http://town-of-salem.wikia.com/wiki/Town_Killing" title="Town Killing"><span style="color:#45BF00">Town</span> <span style="color:#49A9D0">Killing</span></a></td>
			         <td>May be <a href="http://town-of-salem.wikia.com/wiki/Vampire_Hunter" title="Vampire Hunter">Vampire Hunter</a>, <a href="http://town-of-salem.wikia.com/wiki/Veteran" title="Veteran">Veteran</a> or <a href="http://town-of-salem.wikia.com/wiki/Vigilante" title="Vigilante">Vigilante</a>.</td>
			      </tr>
			      <tr>
			         <td><a href="http://town-of-salem.wikia.com/wiki/Town" title="Town"><span style="color:#49A9D0">Random</span> <span style="color:#45BF00">Town</span></a></td>
			         <td>May be any <a href="http://town-of-salem.wikia.com/wiki/Town" title="Town">Town</a> role, as long as <a href="http://town-of-salem.wikia.com/wiki/Unique" title="Unique" class="mw-redirect">Unique</a> roles do not occur more than once.</td>
			      </tr>
			      <tr>
			         <td><a href="http://town-of-salem.wikia.com/wiki/Godfather" title="Godfather"><span style="color:#DD0000">Godfather</span></a></td>
			         <td>Unique Mafia role.</td>
			      </tr>
			      <tr>
			         <td><a href="http://town-of-salem.wikia.com/wiki/Mafioso" title="Mafioso"><span style="color:#DD0000">Mafioso</span></a></td>
			         <td>Unique Mafia role.</td>
			      </tr>
			      <tr>
			         <td><a href="http://town-of-salem.wikia.com/wiki/Mafia" title="Mafia"><span style="color:#49A9D0">Random</span> <span style="color:#DD0000">Mafia</span></a></td>
			         <td>May be any <a href="http://town-of-salem.wikia.com/wiki/Mafia" title="Mafia">Mafia</a> except Godfather or Mafioso.</td>
			      </tr>
			      <tr>
			         <td><a href="http://town-of-salem.wikia.com/wiki/Neutral_Killing" title="Neutral Killing"><span style="color:#ACACAC">Neutral</span> <span style="color:#49A9D0">Killing</span></a></td>
			         <td>May be <a href="http://town-of-salem.wikia.com/wiki/Arsonist" title="Arsonist">Arsonist</a>, <a href="http://town-of-salem.wikia.com/wiki/Serial_Killer" title="Serial Killer">Serial Killer</a> or <a href="http://town-of-salem.wikia.com/wiki/Werewolf" title="Werewolf">Werewolf</a>.</td>
			      </tr>
			      <tr>
			         <td><a href="http://town-of-salem.wikia.com/wiki/Neutral_Evil" title="Neutral Evil"><span style="color:#ACACAC">Neutral</span> <span style="color:#49A9D0">Evil</span></a></td>
			         <td>May be <a href="http://town-of-salem.wikia.com/wiki/Executioner" title="Executioner">Executioner</a>, <a href="http://town-of-salem.wikia.com/wiki/Jester" title="Jester">Jester</a> or <a href="http://town-of-salem.wikia.com/wiki/Witch" title="Witch">Witch</a>.</td>
			      </tr>
			      <tr>
			         <td><a href="http://town-of-salem.wikia.com/wiki/Neutral_Benign" title="Neutral Benign"><span style="color:#ACACAC">Neutral</span> <span style="color:#49A9D0">Benign</span></a></td>
			         <td>May be <a href="http://town-of-salem.wikia.com/wiki/Amnesiac" title="Amnesiac">Amnesiac</a> or <a href="http://town-of-salem.wikia.com/wiki/Survivor" title="Survivor">Survivor</a>.</td>
			      </tr>
			      <tr>
			         <td><a href="http://town-of-salem.wikia.com/wiki/Roles" title="Roles"><span style="color:#FFFFFF;background-color:#AAAAAA">Any</span></a></td>
			         <td>May be any <a href="http://town-of-salem.wikia.com/wiki/Town" title="Town">Town</a>, <a href="http://town-of-salem.wikia.com/wiki/Mafia" title="Mafia">Mafia</a> or <a href="http://town-of-salem.wikia.com/wiki/Neutral" title="Neutral">Neutral</a> role, as long as <a href="http://town-of-salem.wikia.com/wiki/Unique" title="Unique" class="mw-redirect">Unique</a> roles do not occur more than once.</td>
			      </tr>
			   </tbody>
			</table>

		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js"></script>
<script src="salemTool.js"></script>
</body>
</html>